* {
    margin: 0;
}

html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    margin: 0 auto -3em;
}

.header {
    padding-top: 50px;
}

.hero {
    max-width: 50%;
    height: auto;
    width: auto\10;
}

.search {
    width: 55%;
    margin: auto;
    margin-bottom: auto;
    height: 35px;
}

input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('images/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

.button {
    padding: 12px 28px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.searchbutton {
    background-color: #e7e7e7;
    color: black;
    border: 2px solid #e7e7e7;
}

.searchbutton:hover {
    background-color: white
}

.urls {
    list-style-type: none;
    line-height: 10px;
    text-align: center;
    margin-top: 100px;
    padding-left: 0px;
}

.url {
    padding-top: 15px;
    padding-bottom: 15px;
}

.footer, .push {
    height: 3em;
}

.footer-text {
    top: 30%;
    position: relative;
}

.footer {
    background: #e7e7e7;
    text-align: center;
}
